<div class="container main-header-wrapper">
    <div class="row header-wrapper">
        <a ng-href="http://162.144.89.76/projects/web/brand/">
            <img src="resources/img/logo.png" class="img-responsive logo" alt="" />
        </a>
	<div class="search-wrapper">
            <input ng-model="searchProject" type="text" placeholder="SEARCH PROJECTS" value="" />
            <div><i class="fa fa-search"></i></div>
            <div title="Close Search" class="search-cross-wrapper"><i class="fa fa-times"></i></div>
        </div>
	<!--/.search-wrapper-->
        <div class="close-button menu-button">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>
</div>
