<div class="container list-view box-wrapper bg-viewport">
    <div class="row row-full-height">
        <div class="col-sm-9 col-xs-12 left-view-port">
            <div class="row row-full-height">
                <!-- Media Details Page -->
                <div class="media-details-wrapper">
                    <div class="col-sm-3">
                        <div class="row media-details-left" style="background-image: url('{{pageData.banner}}')"></div>
                    </div>
                    <div class="col-sm-9">
                        <h3>{{pageData.page_data.page_title}}</h3>
                        <div class="row media-details-right wow fadeIn" ng-scroll ng-bind-html="pageData.page_data.page_desc"></div>
                    </div>
                </div>
                <!-- /.media-details-wrapper -->
            </div>
        </div>
        <!-- /.left-view-port -->
         <div class="col-sm-3 list-view-port hidden-xs">
            <div class="row row-full-height">
                <div class="list-wrapper">
                    <select id="page-changer" onchange="$(this).scope().pageChanger()" class="list-drop-down">
                        <option ng-selected="page==option.page_data.page_slug" data-ng-repeat="option in pages" value="pages/{{option.page_data.page_slug}}">
                            {{option.page_data.page_title}}
                        </option>
                    </select>
                    <ul>
                        <li ng-class="{'list-active':page==pageData.page_data.page_slug}">
                            <a ng-href="pages/{{page}}/{{rootSlug}}">{{rootTitle}}</a>
                        </li>
                        <li data-ng-repeat="p in pageMenu" ng-class="{'list-active':p.page_slug==pageData.page_data.page_slug}">
                            <a ng-href="pages/{{page}}/{{rootSlug}}/{{p.page_slug}}">{{p.page_title}}</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <!-- /.list-view-port -->
    </div>
</div>